
<form class="border p-3 rounded-3">
    <div class="row mb-0">
        <div class=col text-center p-2 mb-3 bg-ligh></div>
         <span style="text-align: center "><h3>EmployeeRegistration</h3></span>
     </div>
     <div class="row">
        <div class="col mb-0">
             <label for="AssociateId" class="form-label">AssociateId</label>
             <input type= "text" class="form-control" id="AssociateId">
             </div>
        </div>
        <div class="row">
            <div class="col mb-0">
            <label for="name" class="form-label">name</label>
            <input type= "text" class="form-control" id="name">
            </div>
       </div>
       <div class="row">
        <div class="col mb-0">
        <label for="phone" class="form-label">Phone Number</label>
        <input type= "number" class="form-control" id="phone">
        </div>
        </div>  
        <div class="row">
            <div class="col mb-0">
            <label for="email" class="form-label">EmailId</label>
            <input type= "email" class="form-control" id="email">
            </div>
        </div>
        <div class="row">
            <div class="col mb-0">
            <label for="experience" class="form-label">Experience</label>
            <input type= "number" class="form-control" id="experience">
            </div>
        </div>
        <div class="row">
            <div class="col mb-0">
            <label for="designation" class="form-label">Designation</label>
            <input type= "text" class="form-control" id="designation">
            </div>
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
            

       </div>
     
</form>